@import './color'; //컬러 설정 scss 파일
@import './header'; //헤더 관련 scss 파일
@import './content'; // 컨텐츠 관련 scss 파일


html,body{
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background:$bg_color;
}
#app {
    position: absolute;
    width:100%;
    height:100%;
}