$wiziwig_radius:4px;
.wysiwyg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:$third_color;
    overflow-x: auto;
    overflow-y: hidden;
}
.wysiwygmenu{
    list-style: none;
    top:0;
    left:0;
    margin:0;
    padding:7px;
    color:$font_dark_color;   
    display: flex;
    align-items: center;
    background:$third_color;
    li{
        display: flex;
        white-space: nowrap;
        align-items: center;
        cursor: pointer;
        margin:0px 7px 0px 0px;
        border-radius: 0;
        .wysiwyg_bt:first-child{
            border-top-left-radius:$wiziwig_radius;
            border-bottom-left-radius:$wiziwig_radius;
        }
        .wysiwyg_bt:last-child{
            border-top-right-radius:$wiziwig_radius;
            border-bottom-right-radius:$wiziwig_radius;
        }
    }
    .wysiwyg_bt{
        display:flex;
        outline:0;
        border:0;
        margin:0;
        padding:14px;
        font-size:12pt;
        cursor: pointer;
        border-radius: 0;
        background:$font_light_color;
        color:$font_dark_color;
        transition: background 150ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
        &:hover{
            background:rgba($font_light_color,0.85);
        }
    }
    .wysiwyg_bt.right {
        border:1px solid rgba($font_light_color,0.5);
        background:$third_color;
        color:$font_light_color;
        &:hover{
            background:rgba($secend_color,0.85);
        }
        &:first-child{
            border-right:0px;
        }
    }
}